<!DOCTYPE html>
<html>
  <head>
    <title>Confs.io | Conferences Around The World</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    link[href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"]
    <%= stylesheet_link_tag    'application', media: 'all', rel: 'preload', as: 'style' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
